.cardContainer {
  display: grid;
  width: 75%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 25px;
  position: relative;
  margin: 0 auto;
  top: 30px;
  padding-bottom: 30px;
}

.pagination {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.paginate {
  list-style: none;
  display: flex;

  top: 15px;
  height: 40px;
  align-items: center;
}

.paginate li {
  /* color: white; */
  font-weight: 400;
  cursor: pointer;
  border: solid 1px #555;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  height: 30px;
  margin-right: 2px;
  margin-left: 2px;
}
.paginate li:hover {
  border: solid 1px #2bfab7;
  transition: 0.15s ease-in-out;
}

.previousNext a {
  /* color: white; */
  text-decoration: none;
  font-weight: 200;
}

.paginate .active {
  color: #111;
  background-color: #2bfab7;
  border: solid 1px #2bfab7;
}
@media screen and (max-width: 500px) {
  .cardContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pagination {
    margin-bottom: 0px;
    /* border: solid 1px blue; */
    bottom: 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .paginate {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-left: -10%;
    position: relative;
    top: 20px;
    height: 30px;
  }

  .paginate li {
    font-size: 12px;
    /* color: white; */
    font-weight: 400;
    cursor: pointer;
    border: none;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    height: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .paginate li:hover {
    border: solid 1px #2bfab7;
    transition: 0.15s ease-in-out;
  }

  .previousNext a {
    /* color: white; */
    text-decoration: none;
    font-weight: 200;
  }

  .paginate .active {
    color: #111;
    background-color: #2bfab7;
    overflow: hidden;
  }
  .name {
    border: solid 1px red;
  }
}
