.content {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
.Container {
  height: 100vh;
}
.content h1 {
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
}
.sideContainer {
  width: 250px;
  height: 50vh;
  top: 125px;
  left: 0;
  display: flex;
  /* margin-top: -100px; */
  justify-content: center;
  z-index: 999;
  color: #fff;
  position: absolute;
}
.statsContainer {
  padding: 15px;
  width: 90%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  background-color: transparent;
  height: 60vh;
  overflow-y: scroll;
  margin: 0 auto;
  margin-top: 60px;
  color: #fff;
  align-content: center;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  background-color: #0a0a0a;
}

.tabla {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(52, 13, 65);
  border: 1px solid #222222;
}
.dashBlock {
  position: absolute;
  bottom: 0px;
  border-left: solid 1px #222222;
  height: 86vh;
  margin-left: 20px;
  /* position: relative; */
  /* top: 46px; */
  background-color: #222222;
  width: 80%;
  right: 0px;
}
.tabla thead {
  color: rgb(255, 255, 255);
  border: 1px solid #222222;
  height: 40px;
}

.tabla td {
  border: 1px solid #353535;
  padding: 10px;
  font-size: 14px;
  color: #dfdfdf;
  background-color: #181818;
}
th {
  color: #dfdfdf;
  font-weight: 400;
  border: solid 1px rgb(128, 39, 155);
  padding: 10px;
}
.chartTitle {
  font-size: 16px;
  position: absolute;
  top: 4svh;
}
.header {
  position: absolute;
  width: 100%;
  top: 11vh;
  background-color: rgb(128, 39, 155);
  padding-left: 95px;
  z-index: 100;
}
.statusCont {
  width: 60px;
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

.ok {
  color: #4caf50;
}

.bad {
  color: #d32f2f;
}

.statusUserOk {
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50px;
  margin: 10px;
}

.statusUserNo {
  width: 10px;
  height: 10px;
  background-color: #d32f2f;
  border-radius: 50px;
  margin: 10px;
}

.buttonDetails {
  width: 100px;
  height: 30px;
  font-size: 14px;
  border-radius: 14px;
  font-weight: 600;
}

.buttonDetails:hover {
  animation: buttonHover;
  animation-fill-mode: both;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

@keyframes buttonHover {
  from {
    scale: 1;
    background-color: #2bfab7;
  }

  to {
    scale: 1.1;
    background-color: #2bfab7;
  }
}
