.content {
  /* display: grid; */
  /* grid-template-columns: 1fr 9fr; */
  justify-content: center;
  align-items: center;
  /* padding-top: 100px; */
  display: flex;

  height: 100vh;
}

.sideContainer {
  width: 250px;
  /* display: grid;
  grid-template-rows: repeat(12, 80px); */
  height: 50vh;
  position: relative;
  top: 20px;
  left: 0;
  /* padding-top: 70px; */
  display: flex;
  margin-top: -100px;
  border-right: solid 1px #383838;
  justify-content: center;
  /* justify-items: center; */
  z-index: 999;
  color: #fff;
}

.dashContainer {
  width: 60%;
  height: fit-content;
  border: solid 1px rgb(52, 13, 65);
  border-radius: 10px;
  /* top: 50px; */
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px; */
  margin: 0 auto;
  padding: 30px;
  color: #fff;
  display: flex;
  position: relative;
  bottom: 100px;
  justify-content: space-around;
}
.iconBlock {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.iconBlock h5 {
  color: #fff;
}

.link {
  color: rgb(37, 179, 218);
  text-decoration: none;
  text-align: center;
}

.link:hover {
  color: rgb(153, 153, 153);
  transition: 0.15s ease-in-out;
}

.link:hover > h5 {
  color: rgb(153, 153, 153);
  transition: 0.15s ease-in-out;
}

.loadingCont {
  display: flex;
  position: absolute;
  left: 28%;
  right: 45%;
  margin-top: 150px;
}
.loadingBackground {
  height: 100vh;
  background-color: black;
}
