.content{
    display: grid;
    grid-template-columns: 1fr 9fr;
    justify-content: center;
}
.sideContainer {
    width:200px;
    display: grid;
    grid-template-rows: repeat(12, 80px);
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    top: 100px;
    left: 0;
    padding-top: 70px;
    border-right: solid 2px #fdfdfd;
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 999;
    color: #FFF;
  }

.appBarChart {
    width: 90%;
    height: 350px;
    position: relative;
}
