.imgCont {
  height: 89vh;
  width: 30vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 60%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 500px) {
  .imgCont {
    height: 100vh;
    width: fit-content;
    background-color: #fff;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .image {
    width: 100vw;
    height: fit-content;
    overflow: hidden;
  }
  .CarouselCont {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
