.imageContainer {
  width: 30%;
  background-color: #fff;
  height: 89vh;
  float: left;
  position: relative;
  top: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back {
  position: absolute;
  z-index: 900;
  left: 460px;
  margin-top: 90px;
  cursor: pointer;
}
.backimg {
  width: 30px;
  filter: invert();
}

.backImgDark {
  width: 30px;
}

.Container {
  height: 100vh;
  width: 600px;
  overflow: hidden;
  display: inline;
}

.topContainer {
  position: absolute;
  margin-top: 70px;
  width: 70%;
  right: 0px;
  max-height: 400px;
  box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.dataContainer {
  height: 50vh;
  padding-left: 50px;
  padding-top: 60px;
}

.titleContainer {
  width: 50%;
  height: 70px;
  display: flex;
}

.deleteBtn {
  position: absolute;
}

.name {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 5px;
  /* color: #fff; */
}

.category,
.stock,
.description {
  font-weight: 200;
  font-size: 14px;
  /* color: #fff; */
}

.brand {
  font-size: 16px;
  /* color: #fff; */
}

.stock {
  position: relative;
  bottom: 10px;
}

.description {
  font-weight: 200;
}

.price {
  font-size: 16px;
  /* color: #fff; */
}

.btnCont {
  position: absolute;
  right: 100px;
  width: 30%;
  bottom: 10px;
}

.btnCont button {
  background-color: transparent;
  border: solid 1px #2bfab7;
  /* color: #2bfab7; */
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.btnCont button:hover {
  background-color: #2bfab7;
  color: #111;
  transition: 0.15s ease-in-out;
}

.fav {
  font-size: 30px;
  position: relative;
  top: 5px;
  margin-left: 15px;
  color: #131313;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff;
  cursor: pointer;
}

.active {
  color: #2bfab7;
  font-size: 30px;
  text-shadow: 1px 0 #2bfab7, -1px 0 #2bfab7, 0 1px #2bfab7, 0 -1px #2bfab7;
  margin-left: 15px;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.btnCont span:hover {
  transition: 0.15s ease-in-out;
}

.owner {
  color: #fff;
  position: absolute;
  bottom: 0px;
  right: 50px;
  width: 30%;
  display: flex;
  border: solid 1px #2bfab7;
  border-bottom: none;
  /* border-right: none; */
  padding: 10px;
  padding-right: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* cursor: pointer; */
}

/* .owner:hover {
  border: solid 1px #fff;
  border-bottom: none;
  transition: 0.2s ease-in-out;
} */

.ownerText {
  position: relative;
  left: 10%;
  top: 10px;
}

.owner h2 {
  font-size: 18px;
  bottom: 5px;
}

.owner h3 {
  font-size: 14px;
  font-weight: 200;
  /* position: relative; */
  bottom: 5px;
}

.owner p {
  font-size: 12px;
  font-weight: 200;
  position: relative;
  bottom: 5px;
}

.ProfilePicCont {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
}

.profilePic {
  width: fit-content;
  height: 70px;
}

.reviewsContainer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 70%;
  height: 38vh;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  overflow-y: scroll;
}

.reviewsContainer h3 {
  /* color: #fff; */
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}

.rating {
  /* position: absolute; */
  right: 30px;
  /* color: #fff; */
  font-size: 14px;
  font-weight: 200;
  bottom: 20px;
}

.ratingTitle {
  margin-right: 10px;
}
.ratingText {
  font-size: 14px;
}

.fullStar {
  font-size: 18px;
  color: #2bfab7;
}

.halfStar {
  font-size: 18px;
  background-image: linear-gradient(90deg, #2bfab8a9, #ffffff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.emptyStar {
  font-size: 18px;
  color: gray;
}

.editBtn {
  width: fit-content;
  position: absolute;
  top: 115px;
}

.editBtn button {
  border: none;
  background-color: transparent;
  color: #2bfab7;
  font-size: 14px;
  margin-right: 15px;
}

.editBtn button:hover {
  transition: 0.15s ease-in-out;
  color: #fff;
  border-bottom: solid 1px #fff;
}

@media screen and (max-width: 500px) {
  .reviewsContainer {
    position: absolute;
    bottom: 0px;
    top: 130vh;
    right: 0px;
    width: 100%;
    height: 39vh;
    /* padding-top: 10px; */
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
    /* position: relative;
    top: 10vh; */
  }

  .imageContainer {
    width: 100%;
    height: 70vh;
    float: none;
    position: relative;
    top: 11vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dataContainer {
    border-bottom: none;
    height: fit-content;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }

  .titleContainer {
    width: 100%;
    height: fit-content;
    display: flex;
  }

  .titleContainer h3 {
    font-size: 14px;
    overflow: hidden;
    font-weight: 400;
    width: 70%;
  }

  .brand,
  .stock,
  .price,
  .description,
  .category {
    font-size: 12px;
    overflow: hidden;
  }
  .description {
    border-bottom: solid 1px gray;
    padding-bottom: 10px;
  }
  .btnCont {
    position: relative;
    left: 0px;
    width: 100%;
    bottom: 0px;
    overflow: hidden;
  }

  .btnCont button {
    background-color: transparent;
    border: solid 1px #2bfab7;
    color: #2bfab7;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
  }

  .owner {
    color: #fff;
    position: relative;
    right: 0px;
    bottom: 5px;
    width: 100vw;
    height: 50px;
    display: flex;
    border: solid 1px gray;
    padding: none;
    padding-left: none;
    padding-right: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 30px;
    overflow: hidden;
  }

  .owner:hover {
    border: solid 1px #fff;
    transition: 0.15s ease-in-out;
  }

  .ownerText {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: unset;
  }

  .description {
    height: fit-content;
  }

  .owner h3 {
    font-size: 12px;
    position: relative;
    top: 10px;
    left: 55px;
  }

  .owner p {
    font-size: 10px;
    font-weight: 200;
    margin-left: 55px;
    top: 2px;
  }

  .ProfilePicCont {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .profilePic {
    width: fit-content;
    height: 35px;
  }

  .editBtn button {
    font-size: 12px;
    bottom: 0px;
  }

  .fav {
    font-size: 15px;
    position: relative;
    top: 4px;
    margin-left: 15px;
    text-shadow: 1px 0 #2bfab7, -1px 0 #2bfab7, 0 1px #2bfab7, 0 -1px #2bfab7;
    cursor: pointer;
  }

  .fav:hover {
    color: black;
    transition: 0.15s ease-in-out;
  }

  .active {
    color: #2bfab7;
    font-size: 16px;
    margin-left: 15px;
    position: relative;
    top: 3px;
    right: 2px;
    cursor: pointer;
  }

  .Reviews {
    border-top: solid 1px gray;
    margin-top: 10px;
    height: fit-content;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0px;
  }

  .Reviews h6 {
    font-size: 14px;
    width: 80%;
    overflow: hidden;
  }

  .topContainer {
    position: relative;
    margin-top: 70px;
    width: 100%;
    right: 0px;
    padding-left: 30px;
    padding-right: 30px;
    height: fit-content;
  }

  .Container {
    width: 100%;
    overflow: hidden;
    display: inline;
  }
  .back {
    position: absolute;
    bottom: 60px;
    left: 300px;
    width: 100px;
    position: fixed;
  }
}
