.imgCont {
  height: 89vh;
  overflow: hidden;
  background-color: #fff;
}
.image {
  width: 100%;
  height: fit-content;
}

@media screen and (max-width: 500px) {
  .imgCont {
    height: 60vh;
    background-color: #fff;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .image {
    width: fit-content;
    height: 50vh;
    overflow: hidden;
  }
}
