.imageContainer {
  width: 30%;
  height: 89vh;
  float: left;
  position: relative;
  top: 11vh;
  display: inline;
}
.Container {
  height: 100vh;
  overflow: hidden;
  display: inline;
}
.topContainer {
  position: absolute;
  margin-top: 70px;
  width: 70%;
  right: 0px;
}
.dataContainer {
  border-bottom: solid 1px gray;
  height: 50vh;
  padding-left: 50px;
  padding-top: 30px;
}
.titleContainer {
  width: 50%;
  height: 60px;
  display: flex;
}

.deleteBtn {
  position: absolute;
}

.name {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 5px;
  color: #fff;
}

.category,
.stock,
.description {
  font-weight: 200;
  font-size: 14px;
  color: #fff;
}

.brand {
  font-size: 16px;
  color: #fff;
}

.stock {
  position: relative;
  bottom: 10px;
}

.description {
  font-weight: 200;
}

.price {
  font-size: 16px;
  color: #fff;
}

.btnCont {
  position: absolute;
  left: 50px;
  width: 30%;
  bottom: 10px;
}

.btnCont button {
  background-color: transparent;
  border: solid 1px #2bfab7;
  color: #2bfab7;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.btnCont button:hover {
  background-color: #2bfab7;
  color: #111;
  transition: 0.15s ease-in-out;
}

.btnCont span {
  color: #2bfab7;
  font-size: 35px;
  position: relative;
  top: 7px;
  left: 15px;
  cursor: pointer;
}

.btnCont span:hover {
  color: #fff;
  transition: 0.15s ease-in-out;
}

.owner {
  color: #fff;
  position: absolute;
  bottom: 0px;
  right: 50px;
  width: 30%;
  display: flex;
  border: solid 1px #2bfab7;
  border-bottom: solid 1px gray;
  /* border-right: none; */
  padding: 10px;
  padding-right: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
}

.owner:hover {
  border: solid 1px #fff;
  border-bottom: solid 1px gray;
  transition: 0.15s ease-in-out;
}

.ownerText {
  position: relative;
  left: 10%;
  top: 10px;
}

.owner h3 {
  font-size: 16px;
}

.owner p {
  font-size: 12px;
  font-weight: 200;
  position: relative;
  bottom: 5px;
}

.ProfilePicCont {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
}

.profilePic {
  width: fit-content;
  height: 70px;
}

@media screen and (max-width: 500px) {
  .imageContainer {
    width: 100%;
    height: 100vh;
    float: none;
    position: relative;
    top: 11vh;
    overflow: hidden;
  }

  .Container {
    height: 100%;
    overflow: hidden;
  }
  .topContainer {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    right: 0px;
  }
  .dataContainer {
    border-bottom: solid 1px gray;
    height: 65vh;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
  }

  .titleContainer {
    width: 100%;
    height: 70px;
    display: flex;
  }
  .titleContainer h3 {
    font-size: 14px;
    overflow: hidden;
    font-weight: 400;
  }
  .brand,
  .stock,
  .price,
  .description,
  .category {
    font-size: 12px;
    overflow: hidden;
  }

  .btnCont {
    position: relative;
    left: 0px;
    width: 100%;
    bottom: 10px;
    overflow: hidden;
  }

  .btnCont button {
    background-color: transparent;
    border: solid 1px #2bfab7;
    color: #2bfab7;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
  }

  .btnCont span {
    color: #2bfab7;
    font-size: 25px;
    position: relative;
    top: 5px;
    left: 10px;
    cursor: pointer;
  }

  .owner {
    color: #fff;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    border-top: solid 1px gray;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: none;
    padding-left: none;
    padding-right: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
    overflow: hidden;
  }

  .owner:hover {
    border: solid 1px #fff;
    transition: 0.15s ease-in-out;
  }

  .ownerText {
    position: relative;
    left: 20px;
    top: 0px;
    position: absolute;
    overflow: unset;
  }
  .description {
    height: fit-content;
  }

  .owner h3 {
    font-size: 12px;
    position: relative;
    top: 10px;
    left: 40px;
  }

  .owner p {
    font-size: 10px;
    font-weight: 200;
    position: relative;
    top: 0px;
    margin-left: 40px;
    width: 300px;
  }

  .ProfilePicCont {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
    position: absolute;
    top: 5px;
  }

  .profilePic {
    width: fit-content;
    height: 35px;
  }
}
