.imageContainer {
  width: 40%;
  float: left;
  position: relative;
  top: 60px;
}

.dataContainer {
  position: relative;
  top: 100px;
  width: 40%;
  left: 50px;
  flex-direction: column;
}

.name,
.stock {
  color: #2bfab7;
}

.brand,
.description,
.price {
  color: #fff;
}

.nameCont {
  width: 250px;
  position: relative;
  right: 10px;
}

.name {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 5px;
}

.category,
.stock {
  font-weight: 200;
  font-size: 14px;
  color: #fff;
}

.brand {
  font-size: 16px;
  position: relative;
  bottom: 10px;
  color: #2bfab7;
}

.stock {
  position: relative;
  bottom: 20px;
}

.description {
  font-weight: 200;
  position: relative;
  bottom: 10px;
}

.price {
  font-size: 18px;
  color: #2bfab7;
  position: relative;
  bottom: 15px;
}

.btnCont {
  position: relative;
  left: 50px;
  width: 30%;
  top: 100px;
}

.btnCont button {
  background-color: transparent;
  border: solid 1px #2bfab7;
  color: #2bfab7;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.btnCont button:hover {
  background-color: #2bfab7;
  color: #111;
  transition: 0.15s ease-in-out;
}

.btnCont span {
  color: #2bfab7;
  font-size: 35px;
  position: relative;
  top: 5px;
  left: 30px;
  cursor: pointer;
}

.btnCont span:hover {
  color: #fff;
  transition: 0.15s ease-in-out;
}

.owner {
  color: #fff;
  position: relative;
  top: 150px;
  float: left;
  left: 50px;
  width: 18%;
  display: flex;
  border: solid 1px #2bfab7;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.owner:hover {
  border: solid 1px #fff;
  transition: 0.15s ease-in-out;
}

.ownerText {
  position: relative;
  right: 10px;
  top: 10px;
}

.owner h3 {
  font-size: 16px;
}

.owner p {
  font-size: 12px;
  font-weight: 200;
  position: relative;
  bottom: 5px;
}

.ProfilePicCont {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
}

.profilePic {
  width: fit-content;
  height: 70px;
}
