.container {
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  top: 110px;
}

.favContainer {
  padding: 20px;
  width: 90%;
  min-height: 440px;
  row-gap: 25px;
  column-gap: 10px;
  border: solid 1px #2bfab7;
  border-radius: 10px;
  position: relative;
  top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  /* overflow-y: scroll; */
  position: absolute;
  right: 6%;
  margin-top: 100px;
  justify-items: center;
}

.container h5 {
  /* color: #fff; */
  font-size: 18px;
  font-weight: 200;
}

.favContainer::-webkit-scrollbar {
  border-radius: 10px;
}

.favContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2bfab7;
}

.BtnContainer {
  width: 20%;
  text-align: center;
  position: fixed;
  bottom: 0px;
  margin: 0 40%;
  background-color: #0b0b0b;
  padding: 15px;
  border-radius: 20px 20px 0px 0px;
}
.BtnContainer h5 {
  font-size: 16px;
}
.active {
  background-color: transparent;
  border: solid 1px #2bfab7;
  color: #2bfab7;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}

.active:hover {
  transition: 0.15s ease-in-out;
  background: #2bfab7;
  color: #000;
}

.BtnContainer h5 {
  color: #fff;
  font-weight: 200;
}

.noProducts {
  text-align: center;
  height: 30%;
  position: relative;
  top: 80px;
  grid-column-start: 3;
  grid-column-end: 4;
}
