.container {
  align-items: center;
  width: 90%;
  text-align: center;
  position: relative;
  top: 110px;
}
.favContainer {
  padding-top: 20px;
  width: 90%;
  height: 55vh;
  border-top: solid 1px #2bfab7;
  border-left: solid 1px #2bfab7;
  border-right: solid 1px #2bfab7;
  border-radius: 10px;
  position: relative;
  top: 50px;
  display: flex;
  overflow-x: scroll;
  position: absolute;
  right: 5%;
  margin-top: 100px;

  max-height: 400px;
}
.container h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}
.favContainer::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #000;
}

.favContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2bfab7;
}
.BtnContainer {
  align-items: center;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 50px;
}
.active {
  background-color: transparent;
  border: solid 1px #2bfab7;
  color: #2bfab7;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}
.active:hover {
  transition: 0.15s ease-in-out;
  background: #2bfab7;
  color: #000;
}
.BtnContainer h5 {
  color: #fff;
  font-weight: 200;
}
.noProducts {
  text-align: center;
  height: 30%;
  position: relative;
  top: 80px;
}
.noProducts h5 {
  color: #fff;
}
.noProducts p {
  color: #fff;
}
