.cardContainer {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #c2c2c2;
}

.cardContainer .productDeleted {
  color: rgb(109, 109, 109);
}

.titleCont .spanDeleted {
  background-color: rgb(143, 143, 143);
}

.titleCont .h5Deleted {
  color: rgb(109, 109, 109);
}

.inactive {
  font-size: 14px;
  color: #fff;
  width: 100px;
  text-align: center;
  background-color: rgb(134, 134, 134);
  float: right;
  margin-left: 50px;
}
.productTitle {
  color: rgb(132, 47, 143);
}

.container {
  width: 95%;
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
}

.infoContainer {
  display: flex;
}

.forSale {
  background-color: transparents;
  height: 100%;
}

.noProductsCont {
  text-align: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: #fff;
}

.noProductsCont h5 {
  color: #fff;
  font-size: 18px;
}

.noProductsCont span:hover {
  transition: 0.15s ease-in-out;
  color: #2bfab7;
}

.imgCont {
  width: 100px;
  background-color: #fff;
  overflow: hidden;
  float: left;
  position: relative;
  top: 0px;
}

.imgCont img {
  width: 95%;
  cursor: pointer;
}

.titleCont {
  position: relative;
  width: 70%;
  margin-left: 20px;
  margin-right: 30px;
}

.titleCont h4 {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.titleCont span {
  font-size: 12px;
  background-color: rgb(132, 47, 143);
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  bottom: 5px;
}

.titleCont h5 {
  font-size: 12px;
  color: rgb(153, 97, 160);
  display: inline;
  margin-left: 5px;
  position: relative;
  bottom: 3px;
}

.titleCont h6 {
  font-size: 14px;
  width: 600px;
  text-align: left;
  color: gray;
}

.titleCont p {
  font-size: 14px;
}

.titleCont label {
  float: right;
  font-size: 12px;
  position: relative;
  right: 15px;
  background-color: rgb(132, 47, 143);
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  padding-top: 2px;
  margin-left: 10px;
}

.btnContainer button {
  background-color: transparent;
  border: none;
  color: rgb(132, 47, 143);
  margin-right: 15px;
  font-size: 14px;
}

.btnContainer button:hover {
  transition: 0.15s ease-in-out;
  color: #212121;
}

.stock {
  width: 50px;
  height: fit-content;
  position: relative;
  bottom: 20px;
  background-color: rgb(132, 47, 143);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  float: right;
}

.stockAndStatus {
  /* width: fit-content;
  display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.units,
.number {
  text-align: left;
}

.price {
  display: flex;
  width: 100px;
  font-size: 14px;
  position: relative;
  float: right;
  justify-content: right;
  color: gray;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imgCont {
    width: 200px;
    height: fit-content;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .imgCont img {
    width: 100%;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 95%;
    background-color: #fff;
    border-bottom: 1px solid rgb(161, 161, 161);
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
  }

  .catAndBrand {
    float: left;
  }

  .titleCont {
    position: relative;
    width: 100%;
    height: 120px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titleCont h6 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .titleCont h4 {
    font-size: 16px;
    font-weight: 600;
  }

  .btnContainer {
    width: 100%;
    display: flex;
    margin-left: 0px;
  }

  .btnContainer button {
    margin-right: 10px;
  }

  .stockAndStatus {
    overflow: hidden;
    height: 30px;
    display: block;
    position: relative;
    bottom: 0px;
    width: 100%;
    margin-left: 0px;
  }

  .stock {
    width: 100px;
    height: fit-content;
    position: relative;
    bottom: 0px;
    background-color: transparent;
    color: rgb(132, 47, 143);
    display: flex;
    justify-content: left;
    align-items: initial;
    flex-direction: row;
    padding-top: 0px;
    border-radius: 0px;
    float: right;
    overflow: hidden;
  }

  .units {
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 14px;
    overflow: hidden;
  }

  .number {
    overflow: hidden;
    font-size: 14px;
  }

  .price {
    display: flex;
    width: 100px;
    font-size: 14px;
    position: relative;
    float: left;
    margin-top: 0px;
    justify-content: left;
  }

  .noProductsCont h5 {
    font-size: 14px;
  }
}
