.cardContainer {
  padding: 10px;

  padding-bottom: 0px;
}

.container {
  width: 95%;
  background-color: #fff;
  border-bottom: 1px solid rgb(161, 161, 161);
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
}
.infoContainer {
  border: solid 1px red;
}
.forSale {
  background-color: #ebebeb;
  height: 100%;
}
.noProductsCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.noProductsCont h5 {
  color: #fff;
}
.noProductsCont span:hover {
  transition: 0.15s ease-in-out;
  color: #2bfab7;
}
.imgCont {
  width: 100px;
  height: 125px;
  background-color: #fff;
  overflow: hidden;
  float: left;
  position: relative;
  top: 20px;
}

.imgCont img {
  width: 95%;
  cursor: pointer;
}

.titleCont {
  position: relative;
  left: 10px;
  top: 10px;
  padding-right: 200px;
  width: 100%;
}

.titleCont h4 {
  font-size: 16px;
  font-weight: 600;
}

.titleCont span {
  font-size: 12px;
  background-color: rgb(132, 47, 143);
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.titleCont h5 {
  font-size: 12px;
  color: rgb(153, 97, 160);
  display: inline;
  margin-left: 10px;
  position: relative;
  top: 3px;
}
.titleCont h6 {
  font-size: 14px;
  width: 600px;
  text-align: left;
  color: gray;
}

.titleCont p {
  font-size: 14px;
}

.titleCont label {
  float: right;
  font-size: 12px;
  position: relative;
  right: 15px;
  background-color: rgb(132, 47, 143);
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  padding-top: 2px;
  margin-left: 10px;
}

.stockAndStatus {
  position: absolute;
  left: 100px;
  width: fit-content;
  display: flex;
}
.stockAndStatus h3 {
  font-size: 14px;
  color: gray;
  position: relative;
}
.stockAndStatus h3 {
  top: 2px;
  position: relative;
  margin-left: 10px;
}
.btnContainer {
  position: absolute;
  right: 0px;
  bottom: 40px;
}

.btnContainer button {
  background-color: transparent;
  border: none;
  color: rgb(132, 47, 143);
  margin-right: 15px;
  font-size: 14px;
}

.btnContainer button:hover {
  transition: 0.15s ease-in-out;
  color: #212121;
}
.stock {
  width: 50px;
  height: 70px;
  position: relative;
  left: 90%;
  bottom: 20px;
  background-color: rgb(132, 47, 143);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media screen and (max-width: 500px) {
}
