.image{
    filter: brightness(30%);
    width: 100vw;
}

.title{
    font-size: 40px;
    color:  #62AAA1;
    font-weight: 800;
}

.caption{
text-align: left;
position: relative;
margin-bottom: 300px;
}