body {
  background: rgb(39, 39, 39);
  background: radial-gradient(
    circle,
    rgba(39, 39, 39, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100vh;
}

.carouselContainer {
  width: 100%;
  display: flex;
  overflow: hidden;
}

/* SEARCHBAR */
.searchBarCont {
  width: 100%;
  height: 40px;
  position: relative;
  background-color: rgb(87, 0, 99);
  align-items: center;
}
.searchBar {
  border: solid 1px rgb(173, 94, 184);
  width: 300px;
  border-radius: 20px;
  position: relative;
  left: 470px;
  top: 5px;
}
.searchIcon {
  width: 25px;
  padding-left: 5px;
  position: relative;
  bottom: 0px;
  margin-right: 10px;
}
.searchBar input {
  background-color: transparent;
  border: none;
  font-weight: 200;
  color: #fff;
  outline: none;
}
.searchBar input::placeholder {
  color: #fff;
}
/* SEARCHBAR */
.loadingCont {
  display: flex;
  position: absolute;
  left: 28%;
  right: 45%;
  margin-top: 150px;
}
.loadingBackground {
  height: 100vh;
  background-color: black;
}
@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
    position: relative;
    top: 70px;
  }
  .searchBarCont {
    width: 100%;
    height: 30px;
    position: relative;

    background-color: rgb(87, 0, 99);
    align-items: center;
  }
  .searchBar {
    border: solid 1px rgb(173, 94, 184);
    width: 200px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    left: 25px;
    top: 5px;
  }
  .searchIcon {
    width: 20px;
    padding-left: 5px;
    position: relative;
    bottom: 5px;
    margin-right: 10px;
  }
  .searchBar input {
    background-color: transparent;
    border: none;
    font-weight: 200;
    color: #fff;
    outline: none;
    position: absolute;
    left: 20px;
    font-size: 12px;
  }
  .searchBar input::placeholder {
    color: #fff;
    font-size: 12px;
  }
}
