.container {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 900;
  justify-content: space-around;
}
.container.active {
  background-color: #1b1b1b;
  z-index: 900;
  transition: 0.15s ease-in-out;
}
.logoAndMenu {
  display: flex;
  height: 60px;
  position: relative;
  float: left;
  top: 10px;
}
.menuIcon {
  width: 30px;
  margin-left: 20px;
  margin-top: 30px;
  display: none;
  position: absolute;
}
.navList {
  display: flex;
  align-items: center;
}

.navList li {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: transparent;
}
.navList li:hover {
  color: #2bfab7;
  transition: 0.15s ease-in-out;
}

.searchAndCart {
  display: flex;
  align-items: center;
  position: relative;
  /* left: 60px; */
}

.searchBar input {
  color: #fff;
  outline: none;
}
.loginText {
  color: #fff;
  font-weight: 200;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  height: 60px;
  border: solid 1px red;
  z-index: 600;
}

.cart {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.cartNumber {
  color: #2bfab7;
  font-size: 12px;
  position: relative;
  bottom: 5px;
  left: 30px;
  cursor: pointer;
  z-index: 600;
}
.mode {
  height: 15px;
  position: relative;
  top: 2px;
  cursor: pointer;
}
switch {
  rotate: 180deg;
}

.searchIcon,
.cart {
  width: 25px;
  padding-left: 5px;
  position: relative;
  bottom: 3px;
}
.line {
  width: 100%;
  position: absolute;
  margin-top: 3px;
}
hr {
  position: relative;
  top: 50px;
  border: none;
  border: solid 1px #fff;
}
.logo {
  height: 120px;
  position: relative;
  bottom: 38px;
}
@media screen and (max-width: 500px) {
  .sideMenu {
    width: 40%;
    height: 300px;
    /* background-color: #000; */
    position: absolute;
    z-index: 900;
    margin-top: 70px;
  }

  .navList {
    display: block;
    background-color: #000;
    width: fit-content;
    height: 100%;
    margin-top: 70px;
    padding-top: 100px;
  }

  .navList li {
    font-size: 11px;
    margin-left: -20px;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: -50px;
  }
  .logoAndMenu {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0px;
    justify-content: center;
    position: absolute;
  }
  .logo {
    position: absolute;
    top: 0px;
    margin-top: -30px;
    margin-left: 30%;
  }
  .menuIcon {
    display: block;
    cursor: pointer;
  }
  .container {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgb(114, 114, 114);
    padding-bottom: 10px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border: none;
    border: solid 1px red;
  }
  .searchAndCart {
    position: absolute;
    height: 300px;
    left: 0px;
    width: 100%;
  }
  .loginText {
    left: 0px;
    margin-top: 120px;
    margin-left: -10px;
  }
  .line {
    position: absolute;

    height: 70px;
  }
  .cart,
  .mode {
    position: absolute;
  }
  .mode {
    right: 50px;
    top: 38px;
  }
  .cart {
    right: 70px;
    top: 25px;
  }
}
