@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
.container {
  background: #ececec;
  width: 100vw;
  height: 100vh;
}

.cartItem {
  background-color: rgb(247, 247, 247);
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
}

.total {
  font-size: 16px;
  color: rgb(248, 241, 241);
  /* position: relative; */
  margin-top: 20px;
  left: 40px;
}

.imgContainer {
  width: 90px;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.imgContainer img {
  width: 90px;
}

.cartContainer {
  height: 89vh;
  padding: 30px;
  position: absolute;
  top: 11vh;
  right: 0px;
  background-color: #212121;
  z-index: 200;
}

.getAddress {
  font-size: 14px;
  color: rgb(128, 39, 155);
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}

.cartContainer h4 {
  font-size: 12px;
  width: 300px;
  font-weight: 600;
  margin-left: 20px;
  color: #212121;
}

.cartContainer span {
  position: absolute;
  top: 55px;
  font-size: 12px;
  left: 120px;
  color: #212121;
}

.cartContainer h6 {
  position: absolute;
  bottom: 10px;
  left: 120px;
  font-size: 12px;
  font-weight: 600;
  color: #212121;
}

.cartContainer h1 {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.addressContainer {
  display: flex;
  width: 90%;
  height: 210px;
  padding-top: 30px;
  /* overflow-x: scroll; */
}

.yourAddress {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 50px;
  top: 15vh;
  color: rgb(128, 39, 155);
  font-family: "Montserrat";
}

.address {
  /* border: solid 1px gray; */
  padding: 10px;
  border-radius: 8px;
  position: relative;
  top: 10px;
  height: 150px;
  background-color: rgb(247, 247, 247);
  margin-right: 30px;
}
.address span {
  color: rgb(128, 39, 155);
  font-weight: 600;
  font-family: "Montserrat";
}
.addressBox {
  width: 63%;
  display: flex;
  height: 210px;
  position: absolute;
  top: 15vh;
  left: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.address p {
  width: 180px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
  color: #161616;
}

.address input {
  margin-right: 10px;
  color: #161616 !important;
}

.default {
  font-size: 12px;
  color: rgb(128, 39, 155);
  position: absolute;
  left: 70%;
  font-weight: 600;
  float: right;
}

.defaultLocation {
  color: rgb(167, 167, 167);
}

.newAddressCont {
  /* display: flex; */
  position: absolute;
  bottom: 0;
  width: 63vw;
  padding: 20px;
  padding-left: 50px;
  border-top: solid 1px rgb(185, 185, 185);
}

.newAddressCont h1 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(128, 39, 155);
}

.formContainer {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}

.noAddresses {
  height: 251px;
  width: 65%;
  overflow: hidden;
  position: absolute;
  top: 11vh;
  display: flex;
  justify-content: center;
}

.addText {
  position: absolute;
  top: 46vh;
  padding-left: 50px;
  color: #fff;
  font-size: 14px;
}

.headerText {
  position: absolute;
  top: 15vh;
  z-index: 400;
  color: #fff;
  text-align: center;
}

.headerText h3 {
  font-weight: 600;
  font-size: 25px;
}

.headerText h1 {
  font-size: 25px;
}

.noAddresses img {
  width: 100%;
  height: fit-content;
  filter: brightness(50%);
}

.formContainer textarea {
  height: 50px;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 20px;
}

.formContainer input {
  font-size: 14px;
  margin-bottom: 25px;
  margin-right: 10px;
  padding-left: 5px;
  color: #212121;
}
.formContainer input::placeholder {
  color: #555;
}
.formContainerSelect {
  color: #212121;
  position: relative;
  top: -7px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.enabled {
  border: none;
  background-color: #212121;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.disabled {
  border: none;
  background-color: #aaaaaa;
  color: rgb(77, 77, 77);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.enabled:hover {
  transition: 0.1s ease-in-out;
  background-color: #555;
}

.darkNav {
  height: 11vh;
  background-color: #161616;
}

.formContainer span {
  font-size: 11px;
  color: rgb(226, 73, 73);
  position: absolute;
}

.street,
.number,
.apartment,
.zipCode,
.location {
  width: fit-content;
  display: inline;
}
.location select {
  color: #000;
}
.errorName,
.errorApartment {
  left: 50px;
  margin-top: 25px;
}

.errorNumber,
.errorZipCode {
  left: 250px;
  margin-top: 25px;
}

.errorLocation {
  margin-top: 5px;
  margin-left: 5px;
}

.payment {
  display: flex;
  justify-content: center;
  height: 30px;
}
