.container {
  background: #ececec;
  width: 100vw;
  height: 100vh;
}
.cartItem {
  background-color: rgb(247, 247, 247);
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
}
.imgContainer {
  width: 90px;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.imgContainer img {
  width: 90px;
}
.cartContainer {
  border-left: solid 1px rgb(185, 185, 185);
  height: 89vh;
  width: fit-content;
  padding: 30px;
  position: absolute;
  top: 11vh;
  right: 0px;
}
.cartContainer h4 {
  font-size: 12px;
  width: 300px;
  font-weight: 600;
  margin-left: 20px;
}
.cartContainer h5 {
  position: absolute;
  top: 55px;
  font-size: 12px;
  left: 120px;
}
.cartContainer h6 {
  position: absolute;
  bottom: 10px;
  left: 120px;
  font-size: 12px;
  font-weight: 600;
}
.cartContainer h1 {
  font-weight: 600;
  font-size: 20px;
}
.addressContainer {
  display: flex;
  width: 70%;
  height: 210px;
  padding-top: 30px;
  justify-content: space-around;
  /* border: solid 1px rgb(199, 199, 199); */
  border-radius: 10px;
  /* overflow-x: scroll; */
}
.yourAddress {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 150px;
  margin-top: 90px;
  color: rgb(128, 39, 155);
  top: 10px;
}
.address {
  /* border: solid 1px gray; */
  padding: 10px;
  border-radius: 8px;
  position: relative;
  top: 10px;
  height: 150px;
  background-color: rgb(247, 247, 247);
}
.addressBox {
  border-bottom: solid 1px rgb(185, 185, 185);
  width: 64%;
  display: flex;
  height: 230px;
  position: absolute;
  top: 15vh;
  left: 0px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.address p {
  width: 150px;
  font-size: 12px;
  margin-top: 10px;
}
.address input {
  margin-right: 10px;
}

.default {
  font-size: 14px;
  color: rgb(128, 39, 155);
  position: relative;
  bottom: 15px;
}
