.pageBtn {
  background-color: transparent;
  /* color: #fff; */
  border: none;
  font-size: 18px;
  position: relative;
  bottom: 2px;
  cursor: pointer;
}

.a{
  text-decoration: none;
}

.numberList {
  list-style: none;
  display: flex;
  width: 350px;
  top: 15px;
  height: 20px;
  align-items: center;
}
.numberList li {
  font-weight: 400;
  cursor: pointer;
  border: solid 1px #555;
  padding-bottom: 15px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  height: 30px;
  margin-right: 2px;
  margin-left: 2px;
}

.hellip {
  color: white;
}

.active {
  color: #111;
  background-color: #2bfab7;
  border: solid 1px #2bfab7;
}
.off {
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
