.container {
  display: flex;
  justify-content: center;
  width: 150px;
}
.container button {
  border: none;
  background-color: #555;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  color: #fff;
}
.container button:hover {
  background-color: #c5c5c5;
  color: #555;
  transition: 0.1s ease-in-out;
}
