.cardContainer {
  background-color: #c2c2c2;
  padding: 20px;
}
.container {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
  margin-right: 10px;
  padding: 10px;
  overflow: hidden;
  height: fit-content;
  border-radius: 10px;
}

.noProductsCont {
  text-align: center;
  height: 30%;
  position: relative;
  top: 80px;
  width: 100%;
}

.noAddresses {
  text-align: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: #fff;
}
.noAddresses h5 {
  color: #fff;
  font-size: 18px;
}
.titleCont {
  position: relative;
  left: 10px;
  /* top: 10px; */
  padding-right: 200px;
  width: 100%;
}

.titleCont h4 {
  font-size: 16px;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: #555 !important;
}

.titleCont h6 {
  font-size: 14px;
  margin-bottom: 0.3rem;
  color: #555;
}

.titleCont h4 {
  font-size: 16px;
  color: #555 !important;
}
.details {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #555 !important;
}

.titleCont span {
  font-size: 12px;
  background-color: rgb(132, 47, 143);
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.titleCont p {
  position: relative;
  bottom: 5px;
}

.titleCont label {
  float: right;
  font-size: 12px;
  position: relative;
  right: 15px;
  color: rgb(132, 47, 143);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  margin-left: 10px;
}

.setAsDefault {
  position: absolute;
  right: 0px;
  margin-top: -10px;
}

.setAsDefault button {
  float: right;
  font-size: 12px;
  position: relative;
  right: 15px;
  color: rgb(132, 47, 143);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  margin-left: 10px;
  border: none;
  background-color: #fff;
}

.btnContainer {
  position: relative;
  /* top: -15px; */
}

.btnContainer button {
  background-color: transparent;
  border: none;
  color: rgb(132, 47, 143);
  margin-right: 15px;
  font-size: 14px;
}

.btnContainer button:hover {
  transition: 0.15s ease-in-out;
  color: #212121;
}
