.infoContainer {
  width: 25%;
  height: 89vh;
  float: left;
  position: relative;
  top: 11vh;
}
.SwitchContainer {
  width: 75%;
  height: 89vh;
  right: 0px;
  position: absolute;
  bottom: 0px;
}

.cardsContainer {
  width: 95%;
  height: 65vh;
  border: solid 1px #555;
  border-radius: 10px;
  margin-top: 60px;
  overflow-y: scroll;
}

.cardsContainerWhite {
  width: 95%;
  height: 65vh;
  border: solid 1px #555;
  border-radius: 10px;
  margin-top: 60px;
  overflow-y: scroll;
  background-color: rgb(48, 48, 48);
}

.BtnContainer {
  width: 95%;
  position: relative;
  top: 50px;
  display: flex;
}
.BtnContainer button {
  font-size: 14px;
}

.inactive {
  background-color: transparent;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 5px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
}
.inactive:hover {
  transition: 0.15s ease-in-out;
  background-color: rgb(204, 204, 204);
  color: #000;
}
.active {
  background-color: rgb(158, 158, 158);
  border: solid 1px rgb(158, 158, 158);
  border-radius: 5px;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  pointer-events: none;
}

.addProduct {
  position: absolute;
  right: 50px;
  top: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 600;
}
.addProduct h4 {
  margin-right: 5px;
  border: solid 1px #fff;
  border-radius: 30px;
  /* color: #fff; */
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}
.addProduct h5 {
  color: #fff;
  font-size: 14px;
}
.addProduct:hover > h4 {
  transition: 0.15s ease-in-out;
  color: #2bfab7;
  border: solid 1px #2bfab7;
}
.addProduct:hover > h5 {
  transition: 0.15s ease-in-out;
  color: #2bfab7;
}

@media screen and (max-width: 500px) {
  .infoContainer {
    width: 100%;
    height: fit-content;
    float: left;
    top: 11vh;
    overflow: hidden;
  }
  .SwitchContainer {
    position: relative;
    width: 100%;
    height: fit-content;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardsContainer {
    width: 90%;
    height: fit-content;
    border: solid 1px #555;
    border-radius: 10px;
    margin-top: 60px;
    overflow-y: scroll;
  }
  .BtnContainer {
    width: 100%;
    height: 60px;
    padding-left: 10px;
    justify-content: space-around;
  }
  .BtnContainer button {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    position: relative;
    top: 40px;
  }

  .addProduct {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: solid 1px gray;
    width: 100%;
  }
  .addProduct h5 {
    font-size: 12px;
    overflow: hidden;
    margin-top: 5px;
  }
  .addProduct h4 {
    overflow: hidden;
    margin-top: 5px;
  }
  .inactive {
    margin-right: 0px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
  }

  .active {
    margin-right: 0px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
  }

  .BtnContainer {
    width: 100%;
    padding-right: 10px;
    margin-top: 5px;
  }
}
