.cardContainer {
  padding: 10px;
}

.container {
  width: 95%;
  background-color: #fff;
  border-bottom: 1px solid rgb(161, 161, 161);
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  height: fit-content;
}

.noProductsCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.titleCont {
  position: relative;
  left: 10px;
  /* top: 10px; */
  padding-right: 200px;
  width: 100%;
}

.titleCont h4 {
  font-size: 16px;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.titleCont h5 {
  font-size: 14px;
  margin-bottom: 0.3rem;
}

.titleCont h6 {
  font-size: 12px;
}

.details {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.titleCont span {
  font-size: 12px;
  background-color: rgb(132, 47, 143);
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.titleCont p {
  position: relative;
  bottom: 5px;
}

.titleCont label {
  float: right;
  font-size: 12px;
  position: relative;
  right: 15px;
  color: rgb(132, 47, 143);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  margin-left: 10px;
}

.setAsDefault {
  position: absolute;
  right: 0px;
  margin-top: -10px;
}

.setAsDefault button {
  float: right;
  font-size: 12px;
  position: relative;
  right: 15px;
  color: rgb(132, 47, 143);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  margin-left: 10px;
  border: none;
  background-color: #fff;
}

.btnContainer {
  position: relative;
  /* top: -15px; */
}

.btnContainer button {
  background-color: transparent;
  border: none;
  color: rgb(132, 47, 143);
  margin-right: 15px;
  font-size: 14px;
}

.btnContainer button:hover {
  transition: 0.15s ease-in-out;
  color: #212121;
}