.reviews {
  width: 50%;
  overflow: hidden;
  top: 11vh;
}
.container {
  width: 50%;
  height: 89vh;
  float: right;
  position: relative;
  top: 11vh;
  display: inline;
}

@media screen and (max-width: 500px) {
}
