.ProfilePicCont {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
}
.profilePic {
  width: fit-content;
  height: 70px;
}
.Container {
  padding: 10px;
  border: solid 1px #8f8f8f;
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  position: relative;
  top: 10px;
  overflow: hidden;
}

.name {
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
}
.review {
  color: #fff;
  font-size: 12px;
  font-weight: 200;
  margin-left: 10px;
}
.ratingCont {
  border: solid 1px red;
  width: 20%;
  /* height: 30px; */
  /* position: absolute; */
  right: 0px;
  bottom: 0px;
}
@media screen and (max-width: 500px) {
}
