.container {
  width: 50%;
  height: 90vh;
  overflow: hidden;
  position: fixed;
  top: 70px;
  right: 0px;
  z-index: 900;
  background-color: #fafafa12;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 25px;
}
.titleCont {
  border-bottom: solid 1px rgb(148, 148, 148);
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  height: 50px;
  justify-content: center;
}
.title {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight: 500;
  position: relative;
  top: 20px;
  font-size: 20px;
}
.cartContainer {
  position: absolute;
  top: 60px;
}
.cartArea {
  border: solid 1px rgb(148, 148, 148);
  border-right: none;
  padding: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  width: 90%;
  margin-left: 30px;
  margin-bottom: 10px;
  background-color: #fafafa;
}

.clearBtn {
  background-color: #f44336;
  border: none;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  border-radius: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 10px;
}
.clearBtn:hover {
  background-color: rgb(161, 35, 35);
  transition: 0.15s ease-in-out;
}
.clearCont {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 35%;
}
.exit {
  position: absolute;
  margin-top: 10px;
  right: 40px;
  font-weight: 200;
  font-size: 20px;
  color: #000;
  z-index: 900;
  cursor: pointer;
}
.total {
  font-size: 20px;
  color: rgb(248, 241, 241);
  position: relative;
  left: 40px;
}
.startShopping {
  background-color: #2af2b2;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  z-index: 600;
  position: absolute;
  text-align: center;
  bottom: 0px;
}
.startShopping:hover {
  background-color: #11c58c;
  transition: 0.1s ease-in-out;
}
.startShopping span {
  position: relative;
  font-size: 20px;
  top: 5px;
}
.startShopping button {
  color: #000;
}
.imgCont {
  width: 100%;
  overflow: hidden;
}
.imgCont img {
  width: 132%;
}

.imgCont h1 {
  position: absolute;
  margin-top: 500px;
  left: 50px;
  font-weight: 600;
  color: #fff;
  font-size: 35px;
}

.imgCont p {
  position: absolute;
  margin-top: 550px;
  left: 50px;
  font-weight: 200;
  color: #fff;
}
.emptyCart {
  border-radius: 25px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.400);
    flex-wrap: nowrap;
    position: relative;
    margin-bottom: 250px;
    flex-direction: column;
}
.emptyCart span {
  color: rgb(209, 209, 209);
  position: relative;
  top: 30px;
  font-size: 18px;
}
.emptyCart h3 {
  color: rgb(209, 209, 209);
  position: relative;
}
.emptyCart span:hover {
  color: #34d383;
  transition: 0.15s ease-in-out;
}
