.container {
  width: 50%;
  height: 89vh;
  overflow: hidden;
  position: fixed;
  top: 70px;
  right: 0px;
  z-index: 900;
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
}
.titleCont {
  border-bottom: solid 1px rgb(148, 148, 148);
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  height: 50px;
}
.title {
  text-transform: uppercase;
  color: #555;
  letter-spacing: 2px;
  font-weight: 400;
  position: relative;
  top: 20px;
  font-size: 16px;
}
.cartArea {
  border: solid 1px rgb(148, 148, 148);
  padding: 30px;
  border-radius: 30px;
  height: 60vh;
  overflow-y: scroll;
  position: relative;
  bottom: 40px;
  width: 90%;
}
.clearBtn {
  background-color: #f44336;
  border: none;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  border-radius: 20px;
  color: #fff;
  position: relative;
  bottom: 30px;
}
.clearBtn:hover {
  background-color: rgb(161, 35, 35);
  transition: 0.15s ease-in-out;
}
.clearCont {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 35%;
}
.exit {
  position: absolute;
  margin-top: 10px;
  right: 40px;
  font-weight: 200;
  font-size: 20px;
  color: #000;
  z-index: 900;
  cursor: pointer;
}
.total {
  font-size: 20px;
  color: rgb(148, 148, 148);
  position: absolute;
  margin-top: 470px;
  left: 50px;
}
.startShopping {
  background-color: rgb(148, 148, 148);
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.startShopping:hover {
  background-color: rgb(110, 109, 109);
  transition: 0.1s ease-in-out;
}
.startShopping span {
  color: #fff;
  position: relative;
  font-size: 20px;
  top: 5px;
}
.imgCont {
  width: 100%;
  overflow: hidden;
}
.imgCont img {
  width: 132%;
}

.imgCont h1 {
  position: absolute;
  margin-top: 500px;
  left: 50px;
  font-weight: 600;
  color: #fff;
  font-size: 35px;
}

.imgCont p {
  position: absolute;
  margin-top: 550px;
  left: 50px;
  font-weight: 200;
  color: #fff;
}
