@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
.Container {
  text-align: left;
}
.Container h5 {
  font-size: 18px;
  border-bottom: solid 1px rgb(128, 39, 155);
  color: #fff;
  padding-bottom: 5px;
  width: 100px;
}
/* 
.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  color: #2bfab7;
}

.contentLink {
  /* margin: 15px; 
} */
.sideNav {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 65px;
  margin-top: 10px;
}

.sideNav li {
  text-decoration: none;
  list-style: none;
  text-align: left;
  float: left;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}
.sideNav li:hover {
  transition: 0.15s ease-in-out;
  color: rgb(153, 153, 153);
}
