.Container {
  background: rgb(0, 0, 0);
  background: linear-gradient(28deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(39, 39, 39, 1) 100%);
  width: 250px;
  height: 170vh;
  float: left;
  top: 378px;
}

.categoryContainer {
  width: 150px;
  height: 100vh;
  margin-top: 40px;
}

.Container h6 {
  color: #62aaa1;
  text-transform: uppercase;
  font-weight: 600;
}

.Container span {
  color: #fff;
  cursor: pointer;
  font-weight: 200;
  font-size: 14px;
}

.catCont {
  height: 20px;
}

.Container span:hover {
  color: #62aaa1;
  transition: 0.15s ease-in-out;
}

select {
  background-color: transparent;
  color: #fff;
  border: solid 1px #272727;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 14px;
  width: 150px;
}

option {
  color: #000;
}

.select {
  margin-top: 5px;
}

.order button {
  background-color: transparent;
  border: solid 1px #272727;
  border-radius: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}

.order button:hover {
  transition: 0.15s ease-in-out;
  border: solid 1px #62aaa1;
  background-color: #62aaa1;
  color: #111;
}

hr {
  border: none;
  border-bottom: 1px solid #fff;
}

.clearFilters {
  width: 150px;
  /* height: 100vh; */
  margin-top: 40px;
}

.sharedInput {
  /* margin-top: 30px; */
  color: #62aaa1;
  text-transform: uppercase;
  font-weight: 600;
}

.sharedInput span {
  color: #fff;
  text-transform: none;
  font-size: 10px;
  font-weight: 200;
  position: relative;
  bottom: 5px;
  text-decoration: none;
}

.inputSmall {
  margin-top: 10px;
  display: inline;
  width: 30%;
  height: 25px;
  margin-bottom: 1px;
}

.inputRight {
  margin-left: 10%;
}

.sharedInput button {
  margin-left: 15px;
}