.imgContainer {
  border-radius: 100px;
  overflow: hidden;
  width: fit-content;
}
.nameContainer {
  justify-content: center;
  position: relative;
  top: 5px;
}
.name {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.email {
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  position: relative;
  bottom: 25px;
}
