@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

/* DARK MODE*/
.darkmode {
  background-color: rgb(14, 14, 14);
  height: 100vh;
  color: #fff;
  transition-property: background-color, color;
  transition-duration: 2s;
}

.darkmode a {
  color: #fff;
}
.darkmode button {
  border: solid 1px #272727;
  color: #fff;
  border-radius: 3px;
}
.darkmode input {
  border: solid 1px #ffffff;
  color: #f0f0f0;
}
.darkmode input::placeholder {
  color: #f0f0f0;
}
.darkmode placeholder {
  color: #FFF;
}
.darkmode h5 {
  color: #2bfab7;
  font-size: 14px;
  /* text-transform: uppercase; */
  font-weight: 600;
}
.darkmode li {
  font-weight: 600;
}
.darkmode select {
  /*///// CAPAZ ACÁ PODRÍA FUNCIONAR UN BACKGROUND-COLOR OSCURO ////*/
  color: rgb(255, 255, 255);
  font-size: 14px;
}

/* LIGHT MODE*/

.lightmode {
  background-color: rgb(221, 221, 221);
  height: 100vh;
  color: #000;
  transition-property: background-color, color;
  transition-duration: 2s;
}

.lightmode button {
  border: solid 1px #333;
  border-radius: 3px;
  color: #111;
}
.lightmode input {
  border: solid 1px #111;
  color: #111;
}

.lightmode h5 {
  color: rgb(128, 39, 155);
  font-size: 14px;
  /* text-transform: uppercase; */
}
.lightmode li {
  font-weight: 600;
  color: #000;
}
.lightmode select {
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.lightmode a {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  * {
    overflow-x: hidden !important;
    max-width: 100% !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
